:root {
    --maxWidth-main: 900pt;
    --maxWidth-nav: 200pt;

    --color-header: white;
    --color-body: grey;
    --color-contentBox: white;

    --color-titel: black;
    --color-tekst: black;

    --font-titel-family: serif;
    --font-tekst-family: Verdana, Geneva, Tahoma, sans-serif;

    --padding: 15pt;
    --borderRadius: 5pt;

    --boxshadow-contentBox-width: 1px;
    --boxshadow-contentBox-color: darkgray;
    --boxshadow-nav-width: 3px;
    --boxshadow-nav-color: grey;
}

*:is(h1, h2, h3, h4, h5, h6) { font-family: var(--font-titel-family); }
*:not(h1, h2, h3, h4, h5, h6) { font-family: var(--font-tekst-family); }
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    background-color: var(--color-header);
}
header img {
    max-width: var(--maxWidth-nav);
}

body {
    background-color: var(--color-body);
    min-height: 300vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
nav {
    background-color: var(--color-header);
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
    max-width: var(--maxWidth-nav);
    box-shadow: 0px var(--boxshadow-nav-width) var(--boxshadow-nav-width) 0px var(--boxshadow-nav-color);

    text-align: center;
    position: sticky;
    top: 0;
}
nav a {display: block; border-bottom: .3pt solid black;}

main {
    display: grid;
    gap: var(--padding);
    padding-top: var(--padding);
    max-width: var(--maxWidth-main);
    margin: auto;
}
main *:is(h1, h2, h3, h4, h5, h6, .title) { color: var(--color-titel); }
main *:not(h1, h2, h3, h4, h5, h6, .title) { color: var(--color-tekst); }
.contentBox {
    background-color: var(--color-contentBox);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    box-shadow: 0 0 var(--boxshadow-contentBox-width) var(--boxshadow-contentBox-color);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
.hidden {display: none;}