:root {
    --maxWidth-main: 900pt;
    --maxWidth-nav: 200pt;

    --color-header: white;
    --color-navIcon: black;
    --color-body: grey;
    --color-contentBox: white;

    --color-titel: black;
    --color-tekst: black;

    --font-titel-family: serif;
    --font-tekst-family: Verdana, Geneva, Tahoma, sans-serif;

    --padding: 15pt;
    --padding-nav: 10pt;
    --borderRadius: 5pt;

    --boxshadow-contentBox-width: 10px;
    --boxshadow-contentBox-color: darkgrey;
    --boxshadow-nav-width: 3px;
    --boxshadow-nav-color: grey;
}

*:is(h1, h2, h3, h4, h5, h6) { font-family: var(--font-titel-family); }
*:not(h1, h2, h3, h4, h5, h6) { font-family: var(--font-tekst-family); }
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

header { background-color: var(--color-header); }

header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72pt;
    margin: auto;
    max-width: var(--maxWidth-main);
    padding: var(--padding);
    gap: calc(var(--padding)*10);
}


header img {
    max-width: var(--maxWidth-nav);
    object-fit: cover;
    /* aspect-ratio: 1/1; */
}

body {
    background-color: var(--color-body);
    min-height: 300vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

nav {
    /* display: inline-block; */
    position: sticky;
    border-radius: 50%;
    padding: 2px;
    top: var(--padding);
    margin: var(--padding-nav);
    float: left;
    background-color: var(--color-header);
    box-shadow: 0 0 var(--boxshadow-nav-width) var(--boxshadow-nav-color);
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    border-radius: 2.5px;
    background-color: var(--color-navIcon);
    margin: 6px ;
    transition: 0.4s;
}
.change .bar1 { transform: rotate(-45deg) translate(-8px, 7px); }
.change .bar2 { opacity: 0; }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px); }
/* .change .bar1 { transform: rotate(-45deg) translate(-9px, 6px); }
.change .bar2 { opacity: 0; }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px); } */
div#mainNav {
    background-color: var(--color-header);
    border-radius: var(--borderRadius);
    min-width: max-content;
    max-width: var(--maxWidth-nav);
    box-shadow: 0 0 var(--boxshadow-nav-width) var(--boxshadow-nav-color);

    position: absolute;
    margin-top: 50px;
    /* margin-left: calc(35px/2); */
    text-align: center;
    transition: 0.4s;
}
nav a {
    display: block;
    padding: 5pt 10pt;
}

main {
    display: grid;
    gap: var(--padding);
    padding: var(--padding);
    padding-top: 0;
    max-width: var(--maxWidth-main);
    margin: auto;
}
main *:is(h1, h2, h3, h4, h5, h6, .title) { color: var(--color-titel); }
main *:not(h1, h2, h3, h4, h5, h6, .title) { color: var(--color-tekst); }
.contentBox {
    background-color: var(--color-contentBox);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    box-shadow: 0 0 var(--boxshadow-contentBox-width) var(--boxshadow-contentBox-color);

    scroll-padding-top: var(--padding);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
.hidden { opacity: 0; display: none;}