:root {
/* Color's */
    --color-0-1: #EBFCFF;
    --color-0: #e9fff9;

    --color-1: #9ed8db;

    --color-2-1: #4C7FA6;
    --color-2: #467599;
    --color-2-2: #3B6280;

    --color-3-1: #223B61;
    --color-3: #1d3354;
    --color-3-2: #15243B;

    --color-4-1: #962D31;
    --color-4: #d64045;
    --color-4-2: #571A1C;
/* Logo */
    --logo-UZZ-color: var(--color-3);
    --logo-QY-color: var(--color-4);
/* Header */
    --header-bg-color: var(--color-1);
    --header-boxshadow-width: 5pt;
    --header-boxshadow-color: var(--color-3);
    --header-padding: 15pt;
    --header-logo-maxWidth: 75pt;
    
/* Nav */
    --nav-maxWidht: 100pt;
    --nav-borderRadius: 5pt;
    --nav-animation-duration: 0.3s;

    --nav-marginTop: 50px;
    --nav-bg-color: var(--color-1);
    --nav-boxshadow-width: 5pt;
    --nav-boxshadow-color: var(--color-3);

    --nav-a-padding: 8pt 10pt;
    --nav-a-font-color: var(--color-3);
    --nav-a-font-size: 14pt;
    --nav-a-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --nav-a-hover-line-color: var(--color-4);

    --nav-devider-color: var(--color-4);
    --nav-devider-height: 1px;
    --nav-devider-margin-inline: 7pt;
    --nav-devider-margin-block: 3pt;

    --nav-icon-margin: 10pt;
    --nav-icon-color: var(--color-3);
    --nav-icon-bg-color: var(--color-1);

/* Body */
    --body-bg-color: var(--color-0);

/* Main */
    --main-maxWidht: 900pt;
    --main-padding-and-gap: 15pt;

    --main-plain-font-color: var(--color-3);
    --main-plain-font-size: 14pt;
    --main-plain-font-family: Verdana, Geneva, Tahoma, sans-serif;

    --main-mainTitle-font-color: var(--color-4);
    --main-mainTitle-font-size: 50pt;
    --main-mainTitle-font-family: serif;

    --main-subTitle2-font-color: var(--color-4);
    --main-subTitle2-font-size: 24pt;
    --main-subTitle2-font-family: serif;

    --main-subTitle3-font-color: var(--color-4);
    --main-subTitle3-font-size: 17pt;
    --main-subTitle3-font-family: serif;
    --main-subTitle3-marginTop: 8pt;
    
    --main-subTitle4-font-color: var(--color-3);
    --main-subTitle4-font-size: 14pt;
    --main-subTitle4-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --main-subTitle4-marginTop: 8pt;

/* .contentbox */
    --contentbox-bg-color: var(--color-1);
    --contentbox-borderRadius: 5pt;
    --contentbox-padding: 15pt;
    --contentbox-boxshadow-width: 5pt;
    --contentbox-boxshadow-color: var(--color-3);
    --contentbox-p-p-margin-top: 8pt;

/* Quizz */
    --quiz-option-bg-color: var(--color-2);
    --quiz-option-hover-bg-color: var(--color-2-1);
    --quiz-option-chosen-bg-color: var(--color-3);
    --quiz-option-font-color: var(--color-0-1);
    --quiz-option-borderRadius: 5pt;
    --quiz-option-boxshadow-width: 3pt;
    --quiz-option-boxshadow-color: var(--color-1);

    --quiz-questionNav-bg-color: var(--color-2);
    --quiz-questionNav-hover-bg-color: var(--color-2-1);
    --quiz-questionNav-borderRadius: 25px;
    --quiz-questionNav-boxshadow-width: 3pt;
    --quiz-questionNav-boxshadow-color: var(--color-1);

    --quiz-active-color: var(--color-3);
    --quiz-filled-color: var(--color-2-2);
    --quiz-filled-hover-color: var(--color-2);

    --quiz-right-color: #5B8300;
    --quiz-right-hover-color: #648F00;
    --quiz-wrong-color: #d64045;
    --quiz-wrong-hover-color: #E34449;

/* Footer */
    --footer-bg-color: var(--color-1);
    --footer-boxshadow-width: 5pt;
    --footer-boxshadow-color: var(--color-3);
}
/* Darkmode */
@media (prefers-color-scheme: dark) {
    :root {
        --logo-UZZ-color: var(--color-2-2);
        --logo-QY-color: var(--color-4-1);

        --header-bg-color: var(--color-3);
        --header-boxshadow-color: var(--color-3);
        --header-font-color: var(--color-1);

        --nav-bg-color: var(--color-3);
        --nav-boxshadow-color: var(--color-2-1);
        --nav-a-font-color: var(--color-1);
        --nav-a-hover-line-color: var(--color-4);
        --nav-devider-color: var(--color-4);
        --nav-icon-color: var(--color-1);
        --nav-icon-bg-color: var(--color-3);

        --body-bg-color: var(--color-2-2);

        --main-plain-font-color: var(--color-1);
        --main-mainTitle-font-color: var(--color-4-2);
        --main-subTitle2-font-color: var(--color-4-1);
        --main-subTitle3-font-color: var(--color-4-1);
        --main-subTitle4-font-color: var(--color-1);

        --contentbox-bg-color: var(--color-3);
        --contentbox-boxshadow-color: var(--color-3);

        --quiz-option-bg-color: var(--color-2-2);
        --quiz-option-hover-bg-color: var(--color-2);
        --quiz-option-chosen-bg-color: var(--color-3-1);
        --quiz-option-font-color: var(--color-0);
        --quiz-option-boxshadow-color: var(--color-3-2);

        --quiz-questionNav-bg-color: var(--color-2-2);
        --quiz-questionNav-hover-bg-color: var(--color-2-1);
        --quiz-questionNav-boxshadow-color: var(--color-3-2);

        --quiz-active-color: var(--color-1);
        --quiz-filled-color: var(--color-3-1);
        --quiz-filled-hover-color: var(--color-2);

        --footer-bg-color: var(--color-3);
        --footer-boxshadow-color: var(--color-3);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
img, video {
    display: block;
    max-width: 100%;
}
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

header {
    background-color: var(--header-bg-color);
    box-shadow: 0 0 var(--header-boxshadow-width) var(--header-boxshadow-color);
    padding: var(--header-padding);
    display: grid;
    justify-content: center;
}
svg {
    max-width: 300pt;
}
svg .cls-1 { fill: var(--logo-UZZ-color); }      
svg .cls-2 { fill: var(--logo-QY-color); }

body {
    background-color: var(--body-bg-color);
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

nav {
    display: inline-block;
    position: sticky;
    border-radius: 50%;
    padding: 2px;
    top: var(--nav-icon-margin);
    margin: var(--nav-icon-margin);
    background-color: var(--nav-icon-bg-color);
    box-shadow: 0 0 var(--nav-boxshadow-width) var(--nav-boxshadow-color);
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    border-radius: 2.5px;
    margin: 6px ;
    background-color: var(--nav-icon-color);
    transition: var(--nav-animation-duration);
}
.change .bar1 { transform: rotate(-45deg) translate(-8px, 7px); }
.change .bar2 { opacity: 0; }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px); }
div#mainNav {
    min-width: max-content;
    max-height: calc(90vh - 50px);
    overflow: auto;
    border-radius: var(--nav-borderRadius);
    background-color: var(--nav-bg-color);
    box-shadow: 0 0 var(--nav-boxshadow-width) var(--nav-boxshadow-color);

    position: absolute;
    margin-top: var(--nav-marginTop);
    text-align: center;

    animation: openNav var(--nav-animation-duration) ease-in-out forwards;
    transform-origin: top;
}
@keyframes openNav {
    0% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0deg); }
}
div#mainNav.closed { animation: closeNav var(--nav-animation-duration) ease-in-out forwards; }
@keyframes closeNav {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(-90deg); }
}
nav a {
    display: block;
    text-decoration: none;
    padding: var(--nav-a-padding);
    color: var(--nav-a-font-color);
    font-size: var(--nav-a-font-size);
    font-family: var(--nav-a-font-family);
}
nav a:hover {
    text-decoration: underline var(--nav-a-hover-line-color);
}
div.divider {
    background-color: var(--nav-devider-color);
    height: var(--nav-devider-height);
    margin-inline: var(--nav-devider-margin-inline);
    margin-block: var(--nav-devider-margin-block);
    border-radius: calc(var(--nav-devider-height)/2);
}

main {
    max-width: var(--main-maxWidht);
    margin: auto;
    display: grid;
    gap: var(--main-padding-and-gap);
    padding: var(--main-padding-and-gap);
    padding-top: 0;
}
main * {
    color: var(--main-plain-font-color);
    font-size: var(--main-plain-font-size);
    font-family: var(--main-plain-font-family);
}
main h1 {
    color: var(--main-mainTitle-font-color);
    font-size: var(--main-mainTitle-font-size);
    font-family: var(--main-mainTitle-font-family);
    text-align: center;
}
main h2 {
    color: var(--main-subTitle2-font-color);
    font-size: var(--main-subTitle2-font-size);
    font-family: var(--main-subTitle2-font-family);
}
main h3 {
    color: var(--main-subTitle3-font-color);
    font-size: var(--main-subTitle3-font-size);
    font-family: var(--main-subTitle3-font-family);
    margin-top: var(--main-subTitle3-marginTop);
}
main h4 {
    color: var(--main-subTitle4-font-color);
    font-size: var(--main-subTitle4-font-size);
    font-family: var(--main-subTitle4-font-family);
    margin-top: var(--main-subTitle4-marginTop);
}

.contentBox {
    background-color: var(--contentbox-bg-color);
    border-radius: var(--contentbox-borderRadius);
    padding: var(--contentbox-padding);
    box-shadow: 0 0 var(--contentbox-boxshadow-width) var(--contentbox-boxshadow-color);

    scroll-padding-top: var(--padding);
}
.contentBox p + p {
    margin-top: var(--contentbox-p-p-margin-top);
}

footer {
    background-color: var(--footer-bg-color);
    box-shadow: 0 0 var(--footer-boxshadow-width) var(--footer-boxshadow-color);
}