:root {
    --color-body: grey;
    --color-contentBox: white;
    --color-titel: black;
    --color-tekst: black;

    --font-titel-family: serif;
    --font-tekst-family: Verdana, Geneva, Tahoma, sans-serif;

    --padding: 10pt;
    --borderRadius: 5pt;
}
.hidden {display: none;}
.displayFlex {
    display: flex;
    /* align-content: flex-start; */
    gap: var(--padding);
}
.displayFlex > * {align-self: flex-start;}

nav {
    background-color: var(--color-contentBox);
    flex: 1 0 10rem;
    text-align: center;
}
nav a {display: block;}

main {
    display: grid;
    gap: var(--padding);
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
    background-color: var(--color-body);
    padding: var(--padding);
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.contentBox {
    background-color: var(--color-contentBox);
    border-radius: var(--borderRadius);
    padding: var(--padding);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
