#questionNav button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1pt solid black;
 }
 #questionNav .active {
     background-color: black;
     color: white;
}
#questionNav .wrong { background-color: red; }
#questionNav .right { background-color: green; }