* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    text-align: center;
}

#row {
    display: block;
    height: 700px;
    width: max-content;
    margin-left: 9.5vw;
}

.question {
    display: inline-block;
    margin: 50px 1vw 0 1vw;
    height: 600px;
    width: 78vw;
    border: solid black 3px;
    text-align: center;
}

#questionSelect {
    display: block;
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
}

#select1, #select2 {
    transition: 0.1s;
    display: block;
    border: none;
    height: 30px;
    border-radius: 25px;
    float: left;
    margin: 5px;
    background-color: darkgrey;
}

#select1 {
    width: 50px;
}

#select2 {
    width: 100px;
}

#select1:hover, #select2:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#question {
    height: 10%;
    margin: 10px;
}

#answers {
    width: 100%;
    height: 80%;
}

.answerButton {
    transition: 0.1s;
    background: darkgrey;
    display: inline-block;
    margin: 10px;
    width: 40%;
    height: 20vh;
    border: none;
}

.answerButton:hover {
    background: lightgrey;
}