#questionNav button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1pt solid black;
 }
#questionNav button.active {border: 1pt solid blue;}
#questionNav button.wrong { background-color: red; }
#questionNav button.right { background-color: green; }
#questionNav button.filled { background-color: blue; }