* {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

body {
    overflow-x: hidden;
    text-align: center;
}

#row {
    display: block;
    height: 700px;
    width: max-content;
    margin-left: 9.5vw;
}

.question {
    display: inline-block;
    margin: 50px 1vw 0 1vw;
    height: 600px;
    width: 78vw;
    border: solid black 3px;
    text-align: center;
}

#questionSelect {
    display: block;
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
}

#select1 {
    display: block;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    float: left;
    margin: 5px;
    background-color: darkgrey;
}

#select1:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.answerButton {
    display: block;
    width: 40%;
    height: 40%;
}